@model plataformaMotVer6.Models.ViewModel.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}

<div class="row">
    <div class="col-md-6 offset-6">
        <div class="form-style">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" , style="color:red;">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            }

            @if (ViewBag.EmailSent != null && (bool)ViewBag.EmailSent)
            {
                <div class="alert alert-success" style="color: green;">
                    Hemos enviado un correo de recuperación a la dirección de correo electrónico asociada a esta plataforma.
                </div>
            }

            <form action="@Url.Content("~/Home/ForgotPassword")" method="post">
                <label>Escribe tu correo electrónico</label>
                @Html.AntiForgeryToken()
                @Html.TextBoxFor(d => d.Correo, null, new { @class = "form-control", name = "correo" })


                <br />
                <div class="text-right">
                    <button class="btn btn-primary">Recuperar</button>
                </div>
            </form>
        </div>
    </div>

</div>